.dark {
  position: relative;
  top: 15px;
  padding: 100px 0 160px;
  background-color: #222222;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
    width: 495px;
    text-align: center;
    margin: 0 auto 14px;

    span {
      color: #ff9209;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    width: 580px;
    margin: 0 auto 36px;
  }
  &__image {
    width: 600px;
    margin: 0 auto;
    padding: 0 100px;
    border-bottom: 2px solid #e5e5e5;
  }

  &__mode {
    display: flex;
    justify-content: space-between;
    width: 288px;
    padding-right: 20px;
    &-toggle {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 60px;

      &:nth-child(1)::before {
        content: url("../img/light-mode.svg");
        position: relative;
        left: 50%;
        top: -20px;
      }

      &:nth-child(2) {
        color: #ff9209;
      }

      &:nth-child(2)::before {
        content: url("../img/dark-mode.svg");
        position: relative;
        left: 50%;
        top: -20px;
      }
    }
  }
}
