.download {
  padding: 100px 0 140px;
  background-color: #fff;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #222222;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
    margin: 0 auto 15px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    width: 600px;
    margin: 0 auto 25px;
  }

  &__image {
    // margin: 0 auto;
  }
}
