.faq {
  background: #e5e5e5;
  color: #222222;
  padding: 105px 0 110px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__item {
    width: 575px;
    padding: 10px 20px 0 0;

    &:nth-child(3) {
      padding-right: 30px;
    }

    &-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
