.futures {
  // position: absolute;
  position: relative;
  top: -208px;
  padding: 100px 0 84px;
  background-color: #222222;
  margin-bottom: -208px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
    width: 495px;
    text-align: center;
    margin: 0 auto 45px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    background-color: #fff;
    width: 379px;
    height: 490px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      top: 260px;
      left: 50%;
      transform: translate(-51%);
      display: block;
      z-index: 1;
    }

    &:nth-child(1) {
      color: #0278ed;

      &:before {
        content: url("../img/futures/calendar.svg");
      }
    }
    &:nth-child(2) {
      color: #ff5437;

      &:before {
        content: url("../img/futures/lists.svg");
      }
    }
    &:nth-child(3) {
      color: #ff9209;

      &:before {
        content: url("../img/futures/varied-type.svg");
      }
    }
    &:nth-child(4) {
      color: #e738ce;

      &:before {
        content: url("../img/futures/split-screen.svg");
      }
    }
    &:nth-child(5) {
      color: #00c6df;

      &:before {
        content: url("../img/futures/uploads.svg");
      }
    }
    &:nth-child(6) {
      color: #b25df8;

      &:before {
        content: url("../img/futures/focus-mode.svg");
      }
    }

    &-image {
      width: 227px;
      padding-top: 39.53px;
    }

    &-info {
      position: relative;
      top: -202px;
      background: #f2f2f2;
      padding: 48px 47px 40px;
      border-radius: 0 0 20px 20px;
    }

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;

      margin-bottom: 11px;
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #222222;
    }
  }
}
