*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  width: 1167px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 5px;

  :nth-child(2) {
    color: #222222;
  }
}
