.pricing {
  padding: 114px 0 84px;
  background-color: #fff;

  &__title {
    color: #222222;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
    margin: 0 auto 15px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: #666666;
    width: 570px;
    margin: 0 auto 41px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 379px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    padding: 48px 0 50px;
    border-radius: 20px;
    margin-bottom: 16px;

    &:nth-child(1) {
      color: #0278ed;

      button {
        background: #0278ed;
      }
    }
    &:nth-child(2) {
      color: #ff5437;
      button {
        background: #ff5437;
      }
    }
    &:nth-child(3) {
      color: #ff9209;
      button {
        background: #ff9209;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }

    &-price {
      font-weight: 400;
      font-size: 108px;
      line-height: 124px;
      text-align: center;
      letter-spacing: 8px;
      margin: -12px 0 25px;
    }
    &-period {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #222222;
      margin-bottom: 19px;
    }

    &-button {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      width: 129px;
      padding: 11px 0;
      background: inherit;
      border: 0;
      border-radius: 4px;
      margin: 0 auto;
    }
  }
}
