.technology {
  display: flex;

  &-title {
    text-align: left;
    color: #222222;
  }

  &__inner {
    display: flex;
  }

  &__info {
    margin: 177px 210px 155px 78px;

    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      color: #222222;
      margin-bottom: 17px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      margin-bottom: 20px;
    }
  }

  &__media {
    margin-top: 100px;
    margin-right: 100px;

    &-image {
      width: 376px;
    }
  }
}
