.testimonials {
  padding: 100px 0 84px;
  background: #f2f2f2;

  &__title {
    color: #222222;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
    margin: -10px auto 13px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: #666666;
    width: 570px;
    margin: 0 auto 43px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 379px;
    // height: 338px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 30px 37px 4px 30px;
    border-radius: 20px;
    margin-bottom: 16px;

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      margin-bottom: 20px;
    }

    &-name {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: -1px;
    }
    &-position {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
    }

    &-button {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      width: 129px;
      height: 40px;
      background: inherit;
      border: 0;
      border-radius: 4px;
      margin: 0 auto;
    }
  }
}
