.banner {
  display: flex;
}
.banner__inner {
  display: flex;
  padding: 79px;
  justify-content: space-between;
}
.banner__info {
  padding: 60px 0px 155px 0px;
}
.banner__info-logo {
  width: 192px;
  margin-bottom: 4px;
}
.banner__info-title {
  font-weight: 400;
  font-size: 54px;
  line-height: 60px;
  color: #222222;
  margin-bottom: 17px;
  width: 70%;
}
.banner__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 20px;
  width: 60%;
}
.banner__info-buttons {
  display: flex;
}
.banner__info-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  width: 148px;
  padding: 11px 0;
  background-color: #222222;
  border-radius: 4px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.banner__info-button:hover {
  background: #4e4e4e;
}

.banner__info-button:focus {
  outline: 2px solid #5ab0ff;
}

.banner__media {
  margin-top: 15px;
  margin-right: 21px;
}
.banner__media-image {
  width: 376px;
}

@media screen and (max-width: 1000px) {
  .banner__inner {
    display: flex;
    padding: 0px 0px 300px;
    justify-content: space-around;
    align-items: flex-end;
  }

  .banner__info {
    padding-right: 5%;
    padding-bottom: 5%;
  }

  .banner__info-logo {
    width: 170px;
    margin-bottom: 4px;
  }

  .banner__info-title {
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    color: #222222;
    margin-bottom: 17px;
  }
  .banner__media {
    margin: 0;
  }
  .banner__media-image {
    width: 306px;
    margin: 0px auto -185px;
  }
}

@media screen and (max-width: 800px) {
  .banner__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner__info {
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .banner__info-logo {
    width: 150px;
    margin-bottom: 4px;
  }

  .banner__info-title {
    font-weight: 400;
    font-size: 34px;
    line-height: 50px;
    color: #222222;
    margin-bottom: 17px;
    width: 100%;
  }
  .banner__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 20px;
    width: 100%;
  }
  .banner__media {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .banner__media-image {
    width: 250px;
    margin: 30px auto -225px;
  }
}
