.header {
  position: sticky;
  top: 0;
  margin-bottom: -89px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  z-index: 8;
  width: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 25px 0 25px 16px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-list {
  display: flex;
  margin-right: 55px;
  font-size: 15px;
  line-height: 24px;
}

.header__menu-item {
  padding-left: 42px;
}

.header__menu-item a {
  color: #666666;
}

.header__button {
  margin-right: 8px;
  padding: 8px 30px;
  background-color: #222222;
  border-radius: 4px;
}

.header__button a {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__burgermenu {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 850px) {
  .header {
    position: fixed;
    top: 0;
    /* margin-bottom: -89px; */
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    z-index: 8;
    width: 100%;
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    padding: 15px 0 15px 5px;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -850px;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    transition: 0.2s;
    visibility: hidden;
  }

  .header__menu-item {
    margin-bottom: 18px;
  }

  .header__menu-item a {
    color: #666666;
  }

  .header__button {
    margin-top: 20px;
    padding: 8px 28px 10px;
    background-color: #222222;
    border-radius: 4px;
  }

  .header__button a {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .header__burgermenu-open {
    margin-right: 15px;
    display: block;
    z-index: 10;
  }

  .header__burgermenu-open::before {
    content: url("../img/burger-menu.svg");
  }
  .header__burgermenu-close::before {
    content: url("../img/close-button.svg");
  }

  .header__menu-vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    transition: 0.2s;
    visibility: visible;
  }
  .header__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__menu-list:before {
    content: url("../img/header-logo.svg");
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
  }
}
