.pricing {
  // position: absolute;
  position: relative;
  top: -208px;
  padding: 100px 0 84px;
  background-color: #222222;
  margin-bottom: -208px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
    width: 495px;
    text-align: center;
    margin: 0 auto 45px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    background-color: #fff;
    width: 379px;
    height: 490px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      top: 260px;
      left: 50%;
      transform: translate(-51%);
      display: block;
      z-index: 1;
    }

    &:nth-child(1)::before {
      content: url("../img/futures/calendar.png");
    }
    &:nth-child(2)::before {
      content: url("../img/futures/lists.png");
    }
    &:nth-child(3)::before {
      content: url("../img/futures/varied-type.png");
    }
    &:nth-child(4)::before {
      content: url("../img/futures/split-screen.png");
    }
    &:nth-child(5)::before {
      content: url("../img/futures/uploads.png");
    }
    &:nth-child(6)::before {
      content: url("../img/futures/focus-mode.png");
    }

    &-inner {
    }

    &-image {
      width: 227px;
      padding-top: 39.53px;
    }

    &-info {
      position: relative;
      top: -202px;
      background: #f2f2f2;
      padding: 48px 47px 40px;
      border-radius: 0 0 20px 20px;

      // &::before {
      //   position: absolute;
      //   top: -34px;
      //   left: 50%;
      //   transform: translate(-51%);
      //   display: block;
      // }

      &:nth-child(1):before {
        content: url("../img/futures/calendar.png");
        position: absolute;
        top: -34px;
        left: 50%;
        transform: translate(-51%);
        display: block;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #0278ed;
      margin-bottom: 11px;
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #222222;
    }
  }
}
