.sale {
  background: url("../img/bg.png") repeat-x center;
  color: #ffffff;
  font-weight: 700;
  padding: 60px 0 78px;
  margin-top: 90px;
}
.sale__title {
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.sale__paragraph {
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #ffffff;
}
.sale__timer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 2px;
  /* padding: 5px 194px 0 215px; */
  width: 64%;
}
.sale__timer-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 130px;
}

.sale__timer-item:nth-child(-n + 3)::after {
  content: "|";
  position: absolute;
  font-size: 100px;
  font-weight: 400;
  left: 145px;
}
.sale__timer-number {
  font-weight: 400;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-bottom: -13px;
}
.sale__timer-text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-left: 5%;
}
