.security {
  display: flex;
  position: relative;
  top: -207px;
  margin-bottom: -230px;
  background-color: #f2f2f2;
}
.security-title {
  text-align: left;
  color: #222222;
}
.security__inner {
  display: flex;
  justify-content: space-between;
}
.security__media {
  margin: 100px 100px 0 100px;
}
.security__media-image {
  width: 376px;
}
.security__info {
  margin: 177px 90px 155px 0px;
  width: 35%;
}
.security__info-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 17px;
}
.security__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .security__inner {
    display: flex;
    padding: 100px 0;
    flex-direction: column;
  }
  .security__media-image {
    width: 80%;
  }
}
