.statistics {
  padding: 81px 0 97px;
  background-color: #ff5437;
}
.statistics__inner {
  display: flex;
  justify-content: space-around;
}
.statistics__block {
  width: 378px;
  text-align: center;
}
.statistics__block-number {
  font-weight: 400;
  font-size: 95px;
  line-height: 96px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 18px;
}
.statistics__block-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .statistics__block-number {
    font-size: 70px;
    line-height: 96px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 750px) {
  .statistics {
    padding: 40px 0;
  }
  .statistics__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .statistics__block {
    width: 378px;
    padding-bottom: 50px;
    text-align: center;
  }
  .statistics__block-text {
    font-weight: 400;
    font-size: 14px;
  }
}
