*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  width: 1167px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 5px;

  :nth-child(2) {
    color: #222222;
  }
}

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding: 25px 0 25px 16px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-list {
      display: flex;
      margin-right: 55px;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #666666;
    }

    &-item {
      padding-left: 42px;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 9px;
    padding: 10px 30px 12px;
    background-color: #222222;
    border-radius: 4px;
  }
}

.sale {
  background: url("../img/bg.png") no-repeat center;
  height: 436px;

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 60px;
  }

  &__paragraph {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #ffffff;
  }
}

.banner {
  display: flex;

  &__inner {
    display: flex;
    // justify-content: start;
    // flex-direction: column;
  }

  &__info {
    margin: 138px 219px 155px 78px;

    &-logo {
      width: 192px;
      margin-bottom: 4px;
    }

    &-title {
      font-weight: 400;
      font-size: 54px;
      line-height: 60px;
      color: #222222;
      margin-bottom: 17px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      margin-bottom: 20px;
    }

    &-buttons {
      display: flex;
    }

    &-button {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;

      color: #ffffff;
      width: 148px;
      height: 40px;
      // padding: 10px 25px 12px;
      background-color: #222222;
      border-radius: 4px;
      margin: 0 5px;
    }
  }

  &__media {
    margin-top: 93px;
    margin-right: 100px;

    &-image {
      width: 376px;
    }
  }
}

.futures {
  // position: absolute;
  position: relative;
  top: -208px;
  padding: 100px 0 0 0;
  background-color: #222222;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
    width: 495px;
    text-align: center;
    margin: 0 auto 45px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    background-color: #fff;
    width: 379px;
    height: 488px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      top: 260px;
      left: 50%;
      transform: translate(-51%);
      display: block;
      z-index: 1;
    }

    &:nth-child(1)::before {
      content: url("../img/futures/calendar.png");
    }
    &:nth-child(2)::before {
      content: url("../img/futures/lists.png");
    }
    &:nth-child(3)::before {
      content: url("../img/futures/varied-type.png");
    }
    &:nth-child(4)::before {
      content: url("../img/futures/split-screen.png");
    }
    &:nth-child(5)::before {
      content: url("../img/futures/uploads.png");
    }
    &:nth-child(6)::before {
      content: url("../img/futures/focus-mode.png");
    }

    &-inner {
    }

    &-image {
      width: 227px;
      padding-top: 39.53px;
    }

    &-info {
      position: relative;
      top: -202px;
      background: #f2f2f2;
      padding: 48px 47px 40px;
      border-radius: 0 0 20px 20px;

      // &::before {
      //   position: absolute;
      //   top: -34px;
      //   left: 50%;
      //   transform: translate(-51%);
      //   display: block;
      // }

      &:nth-child(1):before {
        content: url("../img/futures/calendar.png");
        position: absolute;
        top: -34px;
        left: 50%;
        transform: translate(-51%);
        display: block;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #0278ed;
      margin-bottom: 11px;
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #222222;
    }
  }
}
